@font-face {
    font-family: 'lucidity';
    src: url('../assets/fontes/Lucidity-Condensed.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'brasika';
    src: url('../assets/fontes/Brasika-Regular.ttf') format('truetype');
}

body {
    background-color: #161616;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-corinthians {
    width: 130px;
    position: absolute;
    top: 10px;
    left: 30px;
    filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.688));
}

.logo-antiga {
    width: 130px;
    position: absolute;
    top: 10px;
    right: 15px;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.762));
}

.titulo-header {
    font-size: 3em;
    font-family: 'brasika', serif;
}

nav {
    background-color: #161616;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    font-size: 15px;
}

nav ul {
    display: flex;
    gap: 80px;
    justify-content: center;
}

nav ul a {

    position: relative;
	padding: 1rem 0 0.5rem;

    &::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%) scaleX(0);
		transform-origin: 50% 50%;
		width: 100%;
		height: 1px;
		background-color: rgba(255,255,255,0.8);
		transition: transform 250ms;
	}
	
	&:hover {
		
		&::after {
			transform: translateX(-50%) scaleX(1);
		}
		
	}
}

.atual {
    font-weight: bold;

    &::after {
        transform: translateX(-50%) scaleX(1);
    }
}

footer {
    background-color: #282828;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}