@font-face {
    font-family: 'lucidity';
    src: url('../assets/fontes/Lucidity-Condensed.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'araboto';
    src: url('../assets/fontes/Araboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'brasika';
    src: url('../assets/fontes/Brasika-Regular.ttf') format('truetype');
}

body {
    background-color: #161616;
    color: #fff;
    font-family: 'araboto', sans-serif;
}

header {
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-corinthians {
    width: 130px;
    position: absolute;
    top: 10px;
    left: 30px;
    filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.688));
}

.logo-antiga {
    width: 130px;
    position: absolute;
    top: 10px;
    right: 15px;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.762));
}

.titulo-header {
    font-size: 3em;
    font-family: 'brasika', serif;
}

nav {
    background-color: #161616;
    width: 100%;
    padding: 15px;
}

nav ul {
    display: flex;
    gap: 80px;
    justify-content: center;
}

main {
    padding: 20px 80px;
}

.titulo {
    font-family: 'lucidity', sans-serif;
    font-size: 3em;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'lucidity', sans-serif;
    letter-spacing: 3px;
    font-size: 2em;
}

.lateral {
    display: flex;
    gap: 60px;
}

#img-intro {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.432);
}

.sec-torcida {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-torcida h2 {
    margin-bottom: 10px;
    align-self: flex-start;
}

#img-torcida {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.432);
}

/*----------cards-----------*/
.container-cards {
    margin-top: 40px;
}

.flip {
    position: relative;
    cursor: pointer;

    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }

    >.front {
        transform: rotateY(0deg);
    }

    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }

    &:hover {
        >.front {
            transform: rotateY(180deg);
        }

        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }

    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }

        &:hover {
            >.front {
                transform: rotateX(180deg);
            }

            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

.flip {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 7px;
    width: 300px;

    >.front,
    >.back {
        display: block;
        color: white;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 165px;
        padding: 10px 10px;
        background: #313131;
        border-radius: 10px;

        p {
            font-size: 0.865rem;
            color: #c0c0c0;
        }
    }
}

.extra {

    >.front,
    >.back {
        color: rgb(159, 159, 159);
        background: #d6d6d6;
        border-radius: 10px;
    }
}

/*-------------------*/
.sec-repre {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.mascote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img-repre {
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.432);
}

/*-----------card mascotes------------------*/
.card-masc {
    width: 300px;
    height: 400px;
    perspective: 500px;
    cursor: pointer;
}

.conteudo-card {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-masc:hover .conteudo-card {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.frente,
.atras {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #313131;
    text-align: center;
    border-radius: 20px;
    backface-visibility: hidden;
}

.atras {
    background: #313131;
    color: white;
    padding: 25px;
    transform: rotateY(180deg);
}

/*----------------*/

section.hino {
    margin: 50px 0;
    position: relative;
}

section.hino h2 {
    text-align: center;
    margin-bottom: 20px;
}

.letra-hino {
    display: flex;
    justify-content: space-evenly;
}

.estrofe {
    max-width: 250px;
    text-align: center;
}

#img-disco {
    max-width: 350px;
    filter: opacity(0.5);
    z-index: -1;
    object-fit: cover;
    position: absolute;
}

#play-icon {
    font-size: 45px;
    color: #fff;
}

#botaoPlay {
    position: absolute;
    top: 55%;
    cursor: pointer;
}

.girando {
    animation: rotação 10s linear infinite;
}

@keyframes rotação {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*-------------------*/
.sec-escudos {
    margin-top: 60px;
}

.sec-escudos h2 {
    text-align: center;
}

#img-escudos {
    width: 90%;
    margin: auto;
}

/*--------------*/

footer {
    background-color: #282828;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}